
    h1 {
        color: blue;


    }

    button.btn1{
        background-color: black;
        color: white;
    }

    button.btn2{
        background-color: black;
        color: white;
    }

    button.btn3{
        background-color: black;
        color: white;
    }

    img {
        width: 150px;

    }

